// Styling for body
body {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #FFFFE4;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt;
}

// Styling for navigation bar
nav {
  position: fixed;
  top: 0px;
  height: 55px;
  width: 100%;
  background-color: #FFCC66; 
  vertical-align: middle;
  box-shadow: 0px 2px 3px #888888;
}
nav a {
  color: black;
  text-decoration: none;
}
nav ul, nav li {
  display: inline;
}
nav li {
  margin-left: 10px;
}
nav em {
  font-weight: bold;
}
#logo, #links, h1, h2, .restaurant .options, .button {
  font-family: 'Roboto Slab', 'Georgia', serif;
}
#logo {
  font-size: 28pt;
  position: absolute;
  top: 2px;
  left: 10px;
}
#links {
  font-size: 14pt;
  position: absolute;
  top: 27px;
  right: 10px;
}
@media screen and (max-width: 710px) {
  #logo {
    font-size: 25pt;
  }
  nav {
    height: 70px;
    min-width: 350px;
  }
  nav li {
    margin-left: 6px;
  }
  #links {
    font-size: 14pt;
    position: inline;
    width: 100%;
    top: 0px;
  }
  #links .extra {
    position: absolute;
    top: 23px;
    right: 0px;
  }
  #links .account {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}


// Styling for headings
h1 {
  font-weight: normal;
  padding: 5px;
  margin-top: 50px;
  background-color: #FFE4A3;
  box-shadow: 0px 2px 3px #888888;
}
h2 {
  font-weight: normal;
  font-size: 14pt;
}

// Section in which each pages unique content sits
// Only the navigation bar and footers are outside
section {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
@media screen and (max-width: 710px) {
  section {
    margin-top: 78px;
  }
}

// Pretty Buttons
input[type="button"], input[type="submit"] {
  background-color: #FFEFBE;
  border: 4px outset #FFCC66;
  border-radius: 4px;
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  padding: 1px 8px;
  margin-bottom:10px;
}
a .button {
  color: black;
  text-decoration: none;
}
.add.button {
  float: left;
}

// Arrows for sorting tables
th .sorted {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc {
  background-image: url(/images/up_arrow.png);
}
th .desc {
  background-image: url(/images/down_arrow.png);
}

// Pretty Tables
table {
  clear: left;
  border-collapse: collapse;
}
table a {
  color: black;
}
th, td {
  border: 1px solid gray;
}
th {
  padding: 8px;
  background-color: #FFE4A3;
}
td {
  padding: 4px;
  background-color: #FFF5D5;
  font-size: 11pt;
}
tr:nth-child(odd) td {
  background-color: #FFEFBE;
}

// Pretty dictionaries
dt {
  margin-top: 5px;
}

// Pretty fieldsets
fieldset {
  border: 1px solid gray;
}
fieldset fieldset {
  width: 75%;
}
fieldset > div {
  margin-top: 15px;
  margin-bottom: 15px;
  clear: both;
}

// Larger textareas
textarea {
  width: 200px;
  height: 75px;
}

// Footer, at bottom of every page
footer {
  margin-top: 20px;
  font-size: 85%;
  text-align: center;
  clear: both;
}

// The following was automatically generated during scaffolding
.field {
  margin-top: 15px;
  margin-bottom: 15px;
}
#notice {
  color: green;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
