// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.homepage {
  width: 85%;
}
.images {
  float: right;
  margin-left: 5px;
  margin-bottom: 20px;
}
@media screen and (max-width: 465px) {
  .images {
    display: block;
    float: none;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
  }
  .images.pizza {
    width: 280px;
  }
}
img.pizza {
  border: 1px solid gray;
}
.subsection {
  clear: right;
}